/* styles.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.prediction-result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #cce5ff; /* Light blue background for prediction result */
    padding: 10px;
    border-radius: 5px;
}

.job-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 3px solid #007bff; /* Blue border for job items */
}

.sidebar-button {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.title-section {
    background-color:#E8AC41; /* Another shade of yellow */
    color: #333; /* Dark text color */
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
